<div class="login-wrapper">
  <mat-card class="login-box container" style="margin: 0; padding: 0;">
    <div class="row">
      <div class="left-tab">
        <div [style]="isLogin ? 'display: block' : 'display: none'">
          <form [formGroup]="formLogin" class="login" (submit)="Login()" class="mat-tab">
            <h3 class="title">Đăng Nhập</h3>
            <input placeholder="Mã Sinh Viên" required formControlName="studentId" class="input" />
            <input
              placeholder="Mật Khẩu"
              [type]="hide ? 'password' : 'text'"
              required
              formControlName="password"
              class="input"
            />
            <div class="hide-password" (click)="hide = !hide">
              <mat-icon>{{ hide ? 'visibility' : 'visibility_off' }}</mat-icon>
              <span class="hide-password-text">Hiện mật khẩu</span>
            </div>
            <button mat-raised-button [disabled]="formLogin.invalid" class="submit-button">
              Đăng nhập
            </button>
          </form>
        </div>
        <div [style]="isLogin ? 'display: none' : 'display: block'">
          <form class="signup" [formGroup]="formSignUp" class="mat-tab">
            <h3 class="title">Đăng Kí</h3>
            <input placeholder="Mã Sinh viên" formControlName="studentId" class="input" required />
            <input placeholder="Tên sinh viên" formControlName="name" class="input" required />
            <input placeholder="Số điện thoại" formControlName="phone" class="input" required />
            <input placeholder="Email" type="email" formControlName="email" class="input" required />
            <input
              placeholder="Mật khẩu"
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
              class="input"
              required
            />
            <input
              placeholder="Nhập lại mật khẩu"
              [type]="hide ? 'password' : 'text'"
              formControlName="rePassword"
              class="input"
              required
            />
            <div class="hide-password">
              <mat-icon (click)="hide = !hide">{{ hide ? 'visibility' : 'visibility_off' }}</mat-icon>
              <span class="hide-password-text">Hiện mật khẩu</span>
            </div>
            <button (click)="SignUp()" [disabled]="formSignUp.invalid" mat-raised-button class="submit-button">
              Đăng kí
            </button>
          </form>
        </div>
      </div>
      <div class="right-tab">
        <div class="border-image"><img src="../../../assets/images/LogoHIT.png" alt="" class="image" /></div>
        <h3 class="hello">Xin chào bạn !</h3>
        <button class="right-button" (click)="isLogin = !isLogin" mat-raised-button>
          {{ isLogin ? 'Đăng Kí' : 'Đăng Nhập' }}
        </button>
      </div>
    </div>
  </mat-card>
</div>
