<mat-card class="nav">
  <img src="../../../assets/images/logo.png" alt="HIT Logo" class="nav-logo" />
  <div class="nav-menu">
    <button mat-mini-fab [matMenuTriggerFor]="menu">
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="Play()">Thi</button>
      <button mat-menu-item (click)="Infomation()">Thông tin cá nhân</button>
      <button mat-menu-item (click)="LogOut()">Đăng xuất( {{ name }} )</button>
    </mat-menu>
  </div>
</mat-card>
<div *ngIf="!start" class="button">
  <button (click)="Start()" mat-raised-button class="start-button">Bắt đầu</button>
</div>
<app-play *ngIf="start" [socket]="socket"></app-play>
